/* ==========================================================================
   HTML5 display definitions
   ========================================================================== */
article, aside, details, figcaption, figure,
footer, header, hgroup, nav, section, summary {
  display: block; }

audio, canvas, video {
  display: inline-block;
  *display: inline;
  *zoom: 1; }

audio:not([controls]) {
  display: none; }

[hidden] {
  display: none; }

/* --------------------------------------------------------------------------
   Figures
   -------------------------------------------------------------------------- */
figure {
  margin: 0; }

/* --------------------------------------------------------------------------
   Embedded Content
   -------------------------------------------------------------------------- */
img {
  border: 0;
  vertical-align: middle;
  -ms-interpolation-mode: bicubic; }

svg:not(:root) {
  overflow: hidden; }

/* ==========================================================================
   Document
   ========================================================================== */
html {
  font-size: 14px;
  -webkit-text-size-adjust: 14px;
  -ms-text-size-adjust: 14px; }

html, button, input, select, textarea {
  font-family: sans-serif;
  color: #333333; }

body {
  margin: 0;
  font-size: 1em;
  line-height: 1.4em; }

::-moz-selection {
  background: #b3d4fc;
  text-shadow: none; }

::selection {
  background: #b3d4fc;
  text-shadow: none; }

/* ==========================================================================
   Forms
   ========================================================================== */
form {
  margin: 0; }

fieldset {
  border: 0;
  margin: 0;
  padding: 0; }

label {
  cursor: pointer; }

legend {
  border: 0;
  padding: 0;
  white-space: normal;
  *margin-left: -7px; }

button, input, select, textarea {
  font-size: 100%;
  margin: 0;
  vertical-align: baseline;
  *vertical-align: middle; }

button, input {
  line-height: normal; }

button, input[type="button"], input[type="reset"], input[type="submit"] {
  cursor: pointer;
  -webkit-appearance: button;
  *overflow: visible; }

button[disabled], input[disabled] {
  cursor: default; }

input[type="checkbox"], input[type="radio"] {
  box-sizing: border-box;
  padding: 0;
  *width: 13px;
  *height: 13px; }

input[type="search"] {
  -webkit-appearance: textfield;
  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  box-sizing: content-box; }

input[type="search"]::-webkit-search-decoration,
input[type="search"]::-webkit-search-cancel-button {
  -webkit-appearance: none; }

button::-moz-focus-inner, input::-moz-focus-inner {
  border: 0;
  padding: 0; }

textarea {
  overflow: auto;
  vertical-align: top;
  resize: vertical; }

/* ==========================================================================
   Tables
   ========================================================================== */
table {
  border-collapse: collapse;
  border-spacing: 0; }

td {
  vertical-align: top; }

/* ==========================================================================
   Typography
   ========================================================================== */
/* --------------------------------------------------------------------------
   Text Block Elements
   -------------------------------------------------------------------------- */
h1, h2, h3, h4, h5, h6 {
  margin: 0.9em 0 0.2em;
  line-height: 1.1; }

h1, h2, h3, h4, h5, h6 {
  font-weight: 700; }
  h1 a, h2 a, h3 a, h4 a, h5 a, h6 a {
    text-decoration: none; }
    h1 a:hover, h2 a:hover, h3 a:hover, h4 a:hover, h5 a:hover, h6 a:hover {
      text-decoration: underline; }
  h1:first-child, h2:first-child, h3:first-child, h4:first-child, h5:first-child, h6:first-child {
    margin-top: 0; }

h1 {
  font-size: 36px; }

h2 {
  font-size: 30px; }

h3 {
  font-size: 24px;
  margin-bottom: 0.25em; }

h4 {
  font-size: 18px; }

h5 {
  font-size: 14px; }

h6 {
  font-size: 14px; }

h3, h4, h5, h6 {
  color: #666666; }

h5, h6 {
  font-style: italic; }

h4, h6 {
  font-weight: normal; }

ul, ol {
  padding-left: 2.15em; }

dd {
  margin-left: 30px;
  font-style: italic; }

dt {
  font-weight: bold; }

p, ul, ol {
  margin: 0.25em 0 1em; }

ul ul, ul ol, ol ul, ol ol {
  margin-bottom: 0.25em; }

ol ol {
  list-style: lower-alpha; }
  ol ol ol {
    list-style: lower-roman; }

ul ul {
  list-style: circle; }
  ul ul ul {
    list-style: square; }

/* Heading Combinations */
hgroup h1, hgroup h2, hgroup h3, hgroup h4, hgroup h5, hgroup h6 {
  margin-top: 0.2em; }

/* Navigation lists will not have bullets. */
nav ul, nav ol {
  list-style: none;
  list-style-image: none;
  margin: 0;
  padding: 0; }

/* --------------------------------------------------------------------------
   Links
   -------------------------------------------------------------------------- */
a {
  color: #0a73f3;
  text-decoration: none; }
  a:hover {
    color: #388ff7;
    text-decoration: underline; }
  a:active, a:focus {
    color: #0750a9;
    text-decoration: underline; }

a:hover, a:active {
  outline: 0; }

/* --------------------------------------------------------------------------
   Semantic Tags
   -------------------------------------------------------------------------- */
abbr[title] {
  border-bottom: 1px dotted; }

b, strong {
  font-weight: bold; }

blockquote {
  border-left: 2px solid #d9d9d9;
  margin: 1em 0;
  padding: 0 30px;
  color: #999999;
  font-weight: 300; }

dfn {
  font-style: italic; }

hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #cccccc;
  margin: 1em 0;
  padding: 0; }

ins {
  background: #ebd145;
  color: black;
  text-decoration: none; }

mark {
  background: #e4c419;
  color: black;
  font-style: italic;
  font-weight: bold; }

pre, code, kbd, samp {
  font-family: monospace;
  font-size: 1em; }

pre {
  white-space: pre;
  white-space: pre-wrap;
  word-wrap: break-word; }

q {
  quotes: none; }

q:before, q:after {
  content: "";
  content: none; }

small {
  font-size: 11px; }

sub, sup {
  font-size: 10px;
  line-height: 0;
  position: relative;
  vertical-align: baseline; }

sup {
  top: -0.5em; }

sub {
  bottom: -0.25em; }

/* ==========================================================================
   Helper classes
   ========================================================================== */
/*
 * Image replacement
 */
.ir {
  background-color: transparent;
  border: 0;
  overflow: hidden; }
  .ir:before {
    content: "";
    display: block;
    width: 0;
    height: 100%; }

/*
 * Hide from both screenreaders and browsers: h5bp.com/u
 */
.hidden {
  display: none !important;
  visibility: hidden; }

/*
 * Hide only visually, but have it available for screenreaders: h5bp.com/v
 */
.visuallyhidden {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px; }
  .visuallyhidden.focusable:active, .visuallyhidden.focusable:focus {
    /*
     * Extends the .visuallyhidden class to allow the element to be focusable
     * when navigated to via the keyboard: h5bp.com/p
     */
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto; }

/*
 * Hide visually and from screenreaders, but maintain layout
 */
.invisible {
  visibility: hidden; }

/*
 * Clearfix: contain floats
 *
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    `contenteditable` attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that receive the `clearfix` class.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */
.clearfix:before, .nav-h:before, .nav-bar:before, .grid:before, .clearfix:after, .nav-h:after, .nav-bar:after, .grid:after {
  content: " ";
  /* 1 */
  display: table;
  /* 2 */ }
.clearfix:after, .nav-h:after, .nav-bar:after, .grid:after {
  clear: both; }

/*
 * For IE 6/7 only
 * Include this rule to trigger hasLayout and contain floats.
 */
.container {
  padding: 0 20px; }
  @media only screen and (min-width: 1024px) {
    .container {
      width: 960px;
      margin: 0 auto; } }

.masthead {
  min-height: 200px; }
  .masthead h1 {
    font-size: 54px;
    margin-top: 50px; }

.panel {
  border: 1px solid #d9d9d9;
  margin-bottom: 20px;
  padding: 20px;
  border-radius: 5px; }
  .panel:hover, .panel:focus, .panel:active {
    box-shadow: 0px 1px 10px rgba(0, 0, 0, 0.1); }
  .panel:target {
    box-shadow: 0px 1px 10px rgba(0, 0, 0, 0.1); }
  .panel header {
    position: relative;
    margin: -20px -20px 20px;
    padding: 10px 20px;
    border-bottom: 1px solid #d9d9d9;
    background: #fafafa;
    border-radius: 4px 4px 0 0; }
    .panel header h1, .panel header h2, .panel header h3, .panel header h4, .panel header h5, .panel header h6 {
      font-size: 16px;
      font-weight: normal;
      color: #666666;
      line-height: 1;
      margin: 0;
      text-shadow: 0px 1px 0px white; }
    .panel header .btn-close {
      position: absolute;
      right: 4px;
      top: 4px;
      background: none;
      border: none;
      box-shadow: none; }

.btn {
  color: #666666;
  font-size: 14px;
  border: 1px solid;
  padding: 0.5em 1em;
  text-decoration: none;
  text-align: center;
  line-height: 1;
  background-color: #f2f2f2;
  border-color: #cccccc;
  border-bottom-color: #b3b3b3;
  background-image: -webkit-linear-gradient(top, #f2f2f2, #e6e6e6);
  background-image: -moz-linear-gradient(top, #f2f2f2, #e6e6e6);
  background-image: -ms-linear-gradient(top, #f2f2f2, #e6e6e6);
  background-image: -o-linear-gradient(top, #f2f2f2, #e6e6e6);
  background-image: linear-gradient(top, #f2f2f2, #e6e6e6);
  text-shadow: 0px 1px 0px rgba(255, 255, 255, 0.35);
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.15);
  border-radius: 2px;
  display: inline-block; }
  .btn:hover {
    position: relative;
    text-decoration: none;
    z-index: 1;
    color: #666666;
    background-color: white;
    border-color: #d9d9d9;
    border-bottom-color: #bfbfbf;
    background-image: -webkit-linear-gradient(top, white, #f2f2f2);
    background-image: -moz-linear-gradient(top, white, #f2f2f2);
    background-image: -ms-linear-gradient(top, white, #f2f2f2);
    background-image: -o-linear-gradient(top, white, #f2f2f2);
    background-image: linear-gradient(top, white, #f2f2f2); }
  .btn:active, .btn:focus {
    position: relative;
    text-decoration: none;
    z-index: 1;
    color: gray;
    background-color: #cccccc;
    border-color: #a6a6a6;
    border-bottom-color: #8c8c8c;
    background-image: -webkit-linear-gradient(top, #cccccc, #bfbfbf);
    background-image: -moz-linear-gradient(top, #cccccc, #bfbfbf);
    background-image: -ms-linear-gradient(top, #cccccc, #bfbfbf);
    background-image: -o-linear-gradient(top, #cccccc, #bfbfbf);
    background-image: linear-gradient(top, #cccccc, #bfbfbf);
    box-shadow: inset 0px 1px 3px rgba(0,0,0,0.5), 0px 1px 0px rgba(255,255,255,0.8); }
  .btn.icon:before, .btn[data-icon]:before {
    margin-right: 1em; }
  .btn.btn-large {
    font-size: 18px;
    padding: 0.5em 1em; }
  .btn.btn-small {
    padding: 0.25em 0.75em; }
    .btn.btn-small.icon:before, .btn.btn-small[data-icon]:before {
      margin-right: 0.75em; }
  .btn.btn-mini {
    font-size: 12px;
    font-weight: normal;
    padding: 0.25em 0.5em; }
    .btn.btn-mini.icon:before, .btn.btn-mini[data-icon]:before {
      margin-right: 0.5em; }
  .btn.btn-close {
    content: 'x';
    font-family: 'fonticons'; }
  .btn.btn-primary, .btn.btn-info, .btn.btn-alert, .btn.btn-warning, .btn.btn-confirm {
    text-shadow: 0px -1px 0px rgba(0, 0, 0, 0.25);
    color: white; }
  .btn.btn-primary {
    background-color: #ef5223;
    border-color: #b8350d;
    border-bottom-color: #89270a;
    background-image: -webkit-linear-gradient(top, #ef5223, #e84211);
    background-image: -moz-linear-gradient(top, #ef5223, #e84211);
    background-image: -ms-linear-gradient(top, #ef5223, #e84211);
    background-image: -o-linear-gradient(top, #ef5223, #e84211);
    background-image: linear-gradient(top, #ef5223, #e84211); }
    .btn.btn-primary:hover {
      background-color: #f1653b;
      border-color: #d03c0f;
      border-bottom-color: #a02e0c;
      background-image: -webkit-linear-gradient(top, #f1653b, #ef5223);
      background-image: -moz-linear-gradient(top, #f1653b, #ef5223);
      background-image: -ms-linear-gradient(top, #f1653b, #ef5223);
      background-image: -o-linear-gradient(top, #f1653b, #ef5223);
      background-image: linear-gradient(top, #f1653b, #ef5223); }
    .btn.btn-primary:active {
      background-color: #e84211;
      border-color: #a02e0c;
      border-bottom-color: #712008;
      background-image: -webkit-linear-gradient(top, #e84211, #d03c0f);
      background-image: -moz-linear-gradient(top, #e84211, #d03c0f);
      background-image: -ms-linear-gradient(top, #e84211, #d03c0f);
      background-image: -o-linear-gradient(top, #e84211, #d03c0f);
      background-image: linear-gradient(top, #e84211, #d03c0f); }
  .btn.btn-info {
    background-color: #196ae4;
    border-color: #114a9f;
    border-bottom-color: #0c3571;
    background-image: -webkit-linear-gradient(top, #196ae4, #165fcd);
    background-image: -moz-linear-gradient(top, #196ae4, #165fcd);
    background-image: -ms-linear-gradient(top, #196ae4, #165fcd);
    background-image: -o-linear-gradient(top, #196ae4, #165fcd);
    background-image: linear-gradient(top, #196ae4, #165fcd); }
    .btn.btn-info:hover {
      background-color: #2e78e8;
      border-color: #1455b6;
      border-bottom-color: #0f3f88;
      background-image: -webkit-linear-gradient(top, #2e78e8, #196ae4);
      background-image: -moz-linear-gradient(top, #2e78e8, #196ae4);
      background-image: -ms-linear-gradient(top, #2e78e8, #196ae4);
      background-image: -o-linear-gradient(top, #2e78e8, #196ae4);
      background-image: linear-gradient(top, #2e78e8, #196ae4); }
    .btn.btn-info:active {
      background-color: #165fcd;
      border-color: #0f3f88;
      border-bottom-color: #0a2a5a;
      background-image: -webkit-linear-gradient(top, #165fcd, #1455b6);
      background-image: -moz-linear-gradient(top, #165fcd, #1455b6);
      background-image: -ms-linear-gradient(top, #165fcd, #1455b6);
      background-image: -o-linear-gradient(top, #165fcd, #1455b6);
      background-image: linear-gradient(top, #165fcd, #1455b6); }
  .btn.btn-alert {
    background-color: #d01616;
    border-color: #8b0f0f;
    border-bottom-color: #5d0a0a;
    background-image: -webkit-linear-gradient(top, #d01616, #b91414);
    background-image: -moz-linear-gradient(top, #d01616, #b91414);
    background-image: -ms-linear-gradient(top, #d01616, #b91414);
    background-image: -o-linear-gradient(top, #d01616, #b91414);
    background-image: linear-gradient(top, #d01616, #b91414); }
    .btn.btn-alert:hover {
      background-color: #e71919;
      border-color: #a21111;
      border-bottom-color: #740c0c;
      background-image: -webkit-linear-gradient(top, #e71919, #d01616);
      background-image: -moz-linear-gradient(top, #e71919, #d01616);
      background-image: -ms-linear-gradient(top, #e71919, #d01616);
      background-image: -o-linear-gradient(top, #e71919, #d01616);
      background-image: linear-gradient(top, #e71919, #d01616); }
    .btn.btn-alert:active {
      background-color: #b91414;
      border-color: #740c0c;
      border-bottom-color: #460707;
      background-image: -webkit-linear-gradient(top, #b91414, #a21111);
      background-image: -moz-linear-gradient(top, #b91414, #a21111);
      background-image: -ms-linear-gradient(top, #b91414, #a21111);
      background-image: -o-linear-gradient(top, #b91414, #a21111);
      background-image: linear-gradient(top, #b91414, #a21111); }
  .btn.btn-warning {
    background-color: #e4c419;
    border-color: #9f8911;
    border-bottom-color: #71610c;
    background-image: -webkit-linear-gradient(top, #e4c419, #cdb016);
    background-image: -moz-linear-gradient(top, #e4c419, #cdb016);
    background-image: -ms-linear-gradient(top, #e4c419, #cdb016);
    background-image: -o-linear-gradient(top, #e4c419, #cdb016);
    background-image: linear-gradient(top, #e4c419, #cdb016); }
    .btn.btn-warning:hover {
      background-color: #e8cb2e;
      border-color: #b69c14;
      border-bottom-color: #88750f;
      background-image: -webkit-linear-gradient(top, #e8cb2e, #e4c419);
      background-image: -moz-linear-gradient(top, #e8cb2e, #e4c419);
      background-image: -ms-linear-gradient(top, #e8cb2e, #e4c419);
      background-image: -o-linear-gradient(top, #e8cb2e, #e4c419);
      background-image: linear-gradient(top, #e8cb2e, #e4c419); }
    .btn.btn-warning:active {
      background-color: #cdb016;
      border-color: #88750f;
      border-bottom-color: #5a4d0a;
      background-image: -webkit-linear-gradient(top, #cdb016, #b69c14);
      background-image: -moz-linear-gradient(top, #cdb016, #b69c14);
      background-image: -ms-linear-gradient(top, #cdb016, #b69c14);
      background-image: -o-linear-gradient(top, #cdb016, #b69c14);
      background-image: linear-gradient(top, #cdb016, #b69c14); }
  .btn.btn-confirm {
    background-color: #3da20e;
    border-color: #225c08;
    border-bottom-color: #112d04;
    background-image: -webkit-linear-gradient(top, #3da20e, #348b0c);
    background-image: -moz-linear-gradient(top, #3da20e, #348b0c);
    background-image: -ms-linear-gradient(top, #3da20e, #348b0c);
    background-image: -o-linear-gradient(top, #3da20e, #348b0c);
    background-image: linear-gradient(top, #3da20e, #348b0c); }
    .btn.btn-confirm:hover {
      background-color: #46b910;
      border-color: #2b730a;
      border-bottom-color: #1a4406;
      background-image: -webkit-linear-gradient(top, #46b910, #3da20e);
      background-image: -moz-linear-gradient(top, #46b910, #3da20e);
      background-image: -ms-linear-gradient(top, #46b910, #3da20e);
      background-image: -o-linear-gradient(top, #46b910, #3da20e);
      background-image: linear-gradient(top, #46b910, #3da20e); }
    .btn.btn-confirm:active {
      background-color: #348b0c;
      border-color: #1a4406;
      border-bottom-color: #081502;
      background-image: -webkit-linear-gradient(top, #348b0c, #2b730a);
      background-image: -moz-linear-gradient(top, #348b0c, #2b730a);
      background-image: -ms-linear-gradient(top, #348b0c, #2b730a);
      background-image: -o-linear-gradient(top, #348b0c, #2b730a);
      background-image: linear-gradient(top, #348b0c, #2b730a); }

.btn-group .btn {
  float: left;
  border-radius: 0px;
  margin-right: -1px; }
  .btn-group .btn:first-child {
    border-top-left-radius: 2px;
    border-bottom-left-radius: 2px; }
  .btn-group .btn:last-child {
    border-top-right-radius: 2px;
    border-bottom-right-radius: 2px; }

@font-face {
  font-family: 'fonticons';
  src: url("fonts/icons/fonticons.eot");
  src: url("fonts/icons/fonticons.eot?#iefix") format("embedded-opentype"), url("fonts/icons/fonticons.woff") format("woff"), url("fonts/icons/fonticons.ttf") format("truetype"), url("fonts/icons/fonticons.svg#fonticons") format("svg");
  font-weight: normal;
  font-style: normal; }

.icon:before, [data-icon]:before, .icon-after:after, [data-icon-after]:after {
  font-family: 'fonticons';
  font-style: normal;
  font-weight: normal;
  speak: none;
  text-decoration: inherit;
  text-align: center;
  line-height: 0; }

.icon:before, [data-icon]:before {
  content: attr(data-icon);
  margin-right: 0.5em; }

.icon-after:after, [data-icon-after]:after {
  content: attr(data-icon-after);
  margin-left: 0.5em; }

.nav-menu .icon-after:after, .nav-menu [data-icon-after]:after {
  display: inline-block;
  float: right;
  line-height: inherit; }

.nav-h, .nav-bar, .nav-v, .nav-menu {
  font-size: 14px; }
  .nav-h li, .nav-bar li, .nav-v li, .nav-menu li, .nav-h a, .nav-bar a, .nav-v a, .nav-menu a {
    display: block; }
  .nav-h li.active a, .nav-bar li.active a, .nav-v li.active a, .nav-menu li.active a {
    color: #ef5223; }
  .nav-h a, .nav-bar a, .nav-v a, .nav-menu a {
    padding: 0.5em 1em;
    color: #666666; }
    .nav-h a:hover, .nav-bar a:hover, .nav-v a:hover, .nav-menu a:hover {
      text-decoration: none;
      color: #999999; }
    .nav-h a:active, .nav-bar a:active, .nav-v a:active, .nav-menu a:active, .nav-h a:focus, .nav-bar a:focus, .nav-v a:focus, .nav-menu a:focus {
      color: #333333; }

.nav-h, .nav-bar {
  margin-top: 0.5em;
  margin-bottom: 0.5em; }
  .nav-h li, .nav-bar li, .nav-h a, .nav-bar a {
    float: left; }
  .nav-h li, .nav-bar li {
    border-left: 1px solid #e6e6e6; }
    .nav-h li:first-child, .nav-bar li:first-child {
      border: none; }
  .nav-h a, .nav-bar a {
    margin-top: -0.5em;
    margin-bottom: -0.5em; }

.nav-v li, .nav-menu li {
  border-top: 1px solid #e6e6e6; }
  .nav-v li:first-child, .nav-menu li:first-child {
    border: none; }

.nav-bar, .nav-menu {
  border: 1px solid #e6e6e6;
  border-bottom-color: #cccccc;
  background: #fafafa;
  margin-bottom: 20px;
  box-shadow: 0px 1px 3px rgba(0,0,0,0.05), 0px 1px 1px rgba(0,0,0,0.1); }

.nav-bar {
  margin: 0;
  padding: 4px; }
  .nav-bar li {
    border: none; }
  .nav-bar a {
    border: 1px solid #fafafa;
    margin-top: 0;
    margin-bottom: 0;
    border-radius: 3px; }
    .nav-bar a:hover, .nav-bar a:active, .nav-bar a:focus {
      background: white;
      border-color: #e6e6e6; }
    .nav-bar a:active, .nav-bar a:focus {
      border-color: #cccccc;
      background: #e6e6e6; }

.nav-menu {
  border-radius: 5px;
  background: white; }
  .nav-menu a:hover {
    background: #fcfcfc; }
  .nav-menu a:active, .nav-menu a:focus {
    background: #f2f2f2; }
  .nav-menu li:first-child a {
    border-top-left-radius: 5px;
    border-top-right-radius: 5px; }
  .nav-menu li:last-child a {
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px; }

@media only screen and (min-width: 600px) {
  .grid .col {
    float: left;
    width: 0%;
    margin: 0 1.04167%; }
    .grid .col:first-child, .grid .col.first {
      margin-left: 0!important; }
    .grid .col:last-child, .grid .col.last {
      margin-right: 0!important; }
    .grid .col.colspan2 {
      width: 14.79167%; }
    .grid .col.colspan3 {
      width: 23.22917%; }
    .grid .col.colspan4 {
      width: 31.66667%; }
    .grid .col.colspan5 {
      width: 40.10417%; }
    .grid .col.colspan6 {
      width: 48.54167%; }
    .grid .col.colspan7 {
      width: 56.97917%; }
    .grid .col.colspan8 {
      width: 65.41667%; }
    .grid .col.colspan9 {
      width: 73.85417%; }
    .grid .col.colspan10 {
      width: 82.29167%; }
    .grid .col.colspan11 {
      width: 90.72917%; }
    .grid .col.colspan12 {
      width: 99.16667%; } }
@media only screen and (min-width: 1024px) {
  .grid .col {
    float: left;
    width: 61px;
    margin: 0 10px; }
    .grid .col:first-child, .grid .col.first {
      margin-left: 0!important; }
    .grid .col:last-child, .grid .col.last {
      margin-right: 0!important; }
    .grid .col.colspan2 {
      width: 142px; }
    .grid .col.colspan3 {
      width: 223px; }
    .grid .col.colspan4 {
      width: 304px; }
    .grid .col.colspan5 {
      width: 385px; }
    .grid .col.colspan6 {
      width: 466px; }
    .grid .col.colspan7 {
      width: 547px; }
    .grid .col.colspan8 {
      width: 628px; }
    .grid .col.colspan9 {
      width: 709px; }
    .grid .col.colspan10 {
      width: 790px; }
    .grid .col.colspan11 {
      width: 871px; }
    .grid .col.colspan12 {
      width: 952px; } }

.masthead h1 {
  font-family: 'oswald', sans-serif;
  font-weight: 300; }

h1 {
  font-family: 'oswald', sans-serif;
  text-transform: uppercase; }

body:after {
  padding: 5px;
  display: block;
  font-weight: bold;
  background: #e6e6e6;
  color: #333333;
  opacity: 0.5;
  position: fixed;
  bottom: 0;
  left: 0; }
  @media only screen and (min-width: 320px) {
    body:after {
      content: 'handheld'; } }
  @media only screen and (min-width: 600px) {
    body:after {
      content: 'tablet'; } }
  @media only screen and (min-width: 1024px) {
    body:after {
      content: 'monitor'; } }
