/* ==========================================================================
   HTML5 display definitions
   ========================================================================== */
article, aside, details, figcaption, figure,
footer, header, hgroup, nav, section, summary {
  display: block; }

audio, canvas, video {
  display: inline-block;
  *display: inline;
  *zoom: 1; }

audio:not([controls]) {
  display: none; }

[hidden] {
  display: none; }

/* --------------------------------------------------------------------------
   Figures
   -------------------------------------------------------------------------- */
figure {
  margin: 0; }

/* --------------------------------------------------------------------------
   Embedded Content
   -------------------------------------------------------------------------- */
img {
  border: 0;
  vertical-align: middle;
  -ms-interpolation-mode: bicubic; }

svg:not(:root) {
  overflow: hidden; }

/* ==========================================================================
   Document
   ========================================================================== */
html {
  font-size: 14px;
  -webkit-text-size-adjust: 14px;
  -ms-text-size-adjust: 14px; }

html, button, input, select, textarea {
  font-family: sans-serif;
  color: #333333; }

body {
  margin: 0;
  font-size: 1em;
  line-height: 1.4em; }

::-moz-selection {
  background: #b3d4fc;
  text-shadow: none; }

::selection {
  background: #b3d4fc;
  text-shadow: none; }

/* ==========================================================================
   Forms
   ========================================================================== */
form {
  margin: 0; }

fieldset {
  border: 0;
  margin: 0;
  padding: 0; }

label {
  cursor: pointer; }

legend {
  border: 0;
  padding: 0;
  white-space: normal;
  *margin-left: -7px; }

button, input, select, textarea {
  font-size: 100%;
  margin: 0;
  vertical-align: baseline;
  *vertical-align: middle; }

button, input {
  line-height: normal; }

button, input[type="button"], input[type="reset"], input[type="submit"] {
  cursor: pointer;
  -webkit-appearance: button;
  *overflow: visible; }

button[disabled], input[disabled] {
  cursor: default; }

input[type="checkbox"], input[type="radio"] {
  box-sizing: border-box;
  padding: 0;
  *width: 13px;
  *height: 13px; }

input[type="search"] {
  -webkit-appearance: textfield;
  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  box-sizing: content-box; }

input[type="search"]::-webkit-search-decoration,
input[type="search"]::-webkit-search-cancel-button {
  -webkit-appearance: none; }

button::-moz-focus-inner, input::-moz-focus-inner {
  border: 0;
  padding: 0; }

textarea {
  overflow: auto;
  vertical-align: top;
  resize: vertical; }

/* ==========================================================================
   Tables
   ========================================================================== */
table {
  border-collapse: collapse;
  border-spacing: 0; }

td {
  vertical-align: top; }

/* ==========================================================================
   Typography
   ========================================================================== */
/* --------------------------------------------------------------------------
   Text Block Elements
   -------------------------------------------------------------------------- */
h1, h2, h3, h4, h5, h6 {
  margin: 0.9em 0 0.2em;
  line-height: 1.1; }

h1, h2, h3, h4, h5, h6 {
  font-weight: 700; }
  h1 a, h2 a, h3 a, h4 a, h5 a, h6 a {
    text-decoration: none; }
    h1 a:hover, h2 a:hover, h3 a:hover, h4 a:hover, h5 a:hover, h6 a:hover {
      text-decoration: underline; }
  h1:first-child, h2:first-child, h3:first-child, h4:first-child, h5:first-child, h6:first-child {
    margin-top: 0; }

h1 {
  font-size: 36px; }

h2 {
  font-size: 30px; }

h3 {
  font-size: 24px;
  margin-bottom: 0.25em; }

h4 {
  font-size: 18px; }

h5 {
  font-size: 16px; }

h6 {
  font-size: 14px; }

ul, ol {
  padding-left: 2.15em; }

dd {
  margin-left: 30px;
  font-style: italic; }

dt {
  font-weight: bold; }

p, ul, ol {
  margin: 0.25em 0 1em; }

ul ul, ul ol, ol ul, ol ol {
  margin-bottom: 0.25em; }

ol ol {
  list-style: lower-alpha; }
  ol ol ol {
    list-style: lower-roman; }

ul ul {
  list-style: circle; }
  ul ul ul {
    list-style: square; }

/* Heading Combinations */
hgroup h1, hgroup h2, hgroup h3, hgroup h4, hgroup h5, hgroup h6 {
  margin-top: 0.2em; }

/* Navigation lists will not have bullets. */
nav ul, nav ol {
  list-style: none;
  list-style-image: none;
  margin: 0;
  padding: 0; }

/* --------------------------------------------------------------------------
   Links
   -------------------------------------------------------------------------- */
a {
  color: #0a73f3;
  text-decoration: none; }
  a:hover {
    color: #388ff7;
    text-decoration: underline; }
  a:active, a:focus {
    color: #0750a9;
    text-decoration: underline; }

a:hover, a:active {
  outline: 0; }

/* --------------------------------------------------------------------------
   Semantic Tags
   -------------------------------------------------------------------------- */
abbr[title] {
  border-bottom: 1px dotted; }

b, strong {
  font-weight: bold; }

blockquote {
  border-left: 2px solid #d9d9d9;
  margin: 1em 0;
  padding: 0 30px;
  color: #999999;
  font-weight: 300; }

dfn {
  font-style: italic; }

hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #cccccc;
  margin: 1em 0;
  padding: 0; }

ins {
  background: #ebd145;
  color: black;
  text-decoration: none; }

mark {
  background: #e4c419;
  color: black;
  font-style: italic;
  font-weight: bold; }

pre, code, kbd, samp {
  font-family: monospace;
  font-size: 1em; }

pre {
  white-space: pre;
  white-space: pre-wrap;
  word-wrap: break-word; }

q {
  quotes: none; }

q:before, q:after {
  content: "";
  content: none; }

small {
  font-size: 11px; }

sub, sup {
  font-size: 10px;
  line-height: 0;
  position: relative;
  vertical-align: baseline; }

sup {
  top: -0.5em; }

sub {
  bottom: -0.25em; }

code {
  padding: 2px 5px;
  border: 1px solid #cccccc;
  background: #f2f2f2;
  color: gray;
  border-radius: 3px; }

/* --------------------------------------------------------------------------
   Typographic Classes
   -------------------------------------------------------------------------- */
.lead {
  font-size: 24px;
  line-height: 1.4em;
  margin: 40px 0;
  font-weight: 200; }
  @media only screen and (min-width: 280px) and (max-width: 600px) {
    .lead {
      font-size: 18px;
      margin: 20px 0; } }

.text-right {
  text-align: right; }

.text-left {
  text-align: left; }

.text-center {
  text-align: center; }

.mute {
  color: #999999; }

/* ==========================================================================
   Helper classes
   ========================================================================== */
/*
 * Image replacement
 */
.ir {
  background-color: transparent;
  border: 0;
  overflow: hidden;
  /* IE 6/7 fallback */
  *text-indent: -9999px; }
  .ir:before {
    content: "";
    display: block;
    width: 0;
    height: 100%; }

/*
 * Hide from both screenreaders and browsers: h5bp.com/u
 */
.hidden {
  display: none !important;
  visibility: hidden; }

/*
 * Hide only visually, but have it available for screenreaders: h5bp.com/v
 */
.visuallyhidden {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px; }
  .visuallyhidden.focusable:active, .visuallyhidden.focusable:focus {
    /*
    * Extends the .visuallyhidden class to allow the element to be focusable
    * when navigated to via the keyboard: h5bp.com/p
    */
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto; }

/*
 * Hide visually and from screenreaders, but maintain layout
 */
.invisible {
  visibility: hidden; }

/*
 * Clearfix: contain floats
 *
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    `contenteditable` attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that receive the `clearfix` class.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */
.clearfix, .container, .btn-group, .nav-h, .nav-bar, .nav-tabs, .grid {
  *zoom: 1; }
  .clearfix:before, .container:before, .btn-group:before, .nav-h:before, .nav-bar:before, .nav-tabs:before, .grid:before, .clearfix:after, .container:after, .btn-group:after, .nav-h:after, .nav-bar:after, .nav-tabs:after, .grid:after {
    content: " ";
    /* 1 */
    display: table;
    /* 2 */ }
  .clearfix:after, .container:after, .btn-group:after, .nav-h:after, .nav-bar:after, .nav-tabs:after, .grid:after {
    clear: both; }

/*
 * For IE 6/7 only
 * Include this rule to trigger hasLayout and contain floats.
 */
.container {
  position: relative;
  padding: 0 20px;
  width: 960px;
  margin: 0 auto; }
  @media only screen and (min-width: 280px) and (max-width: 600px) {
    .container {
      width: auto; } }
  @media only screen and (min-width: 600px) and (max-width: 1000px) {
    .container {
      width: auto; } }

.intro {
  padding: 50px 0; }
  .intro h1 {
    font-size: 54px;
    margin: 10px 0; }

.pane {
  border: 1px solid #d9d9d9;
  margin-bottom: 20px;
  padding: 20px;
  border-radius: 5px; }
  .pane:hover, .pane:focus, .pane:active {
    box-shadow: 0px 1px 10px rgba(0, 0, 0, 0.1); }
  .pane:target {
    box-shadow: 0px 1px 10px rgba(0, 0, 0, 0.1); }
  .pane header {
    position: relative;
    margin: -20px -20px 20px;
    padding: 10px 20px;
    border-bottom: 1px solid #d9d9d9;
    background: #fafafa;
    border-radius: 4px 4px 0 0; }
    .pane header h1, .pane header h2, .pane header h3, .pane header h4, .pane header h5, .pane header h6 {
      font-size: 16px;
      font-weight: normal;
      color: gray;
      line-height: 1;
      margin: 0;
      text-shadow: 0px 1px 0px white; }
    .pane header .btn-close {
      position: absolute;
      right: 4px;
      top: 4px;
      background: none;
      border: none;
      box-shadow: none; }
  .pane .nav-menu {
    margin: -20px; }

.btn {
  color: #666666;
  font-size: 14px;
  border: 1px solid;
  padding: 7px 14px;
  text-decoration: none;
  text-align: center;
  line-height: 1;
  background-color: #f2f2f2;
  border-color: #cccccc;
  border-bottom-color: #b3b3b3;
  background-image: -webkit-linear-gradient(top, #f2f2f2, #e6e6e6); background-image: linear-gradient(top, #f2f2f2, #e6e6e6);
  text-shadow: 0px 1px 0px rgba(255, 255, 255, 0.35);
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.15);
  border-radius: 2px;
  display: inline-block; *display: inline; *zoom: 1; }
  .btn:hover {
    position: relative;
    text-decoration: none;
    z-index: 1;
    color: #666666;
    background-color: white;
    border-color: #d9d9d9;
    border-bottom-color: #bfbfbf;
    background-image: -webkit-linear-gradient(top, white, #f2f2f2); background-image: linear-gradient(top, white, #f2f2f2); }
  .btn:active {
    position: relative;
    text-decoration: none;
    z-index: 1;
    color: gray;
    background-color: #cccccc;
    border-color: #a6a6a6;
    border-bottom-color: #8c8c8c;
    background-image: -webkit-linear-gradient(top, #cccccc, #bfbfbf); background-image: linear-gradient(top, #cccccc, #bfbfbf);
    box-shadow: inset 0px 1px 3px rgba(0, 0, 0, 0.5), 0px 1px 0px rgba(255, 255, 255, 0.8); }
  .btn:focus {
    text-decoration: none;
    color: #666666; }
  .btn.btn-huge {
    font-size: 30px;
    padding: 0.5em 1em; }
  .btn.btn-large {
    font-size: 18px;
    padding: 0.5em 1em; }
  .btn.btn-small {
    padding: 0.25em 0.75em; }
    .btn.btn-small.icon:before, .btn.btn-small[data-icon]:before {
      padding: 0.25em 0.75em;
      margin: -0.25em 0 -0.25em -0.7em; }
    .btn.btn-small.icon-after:after, .btn.btn-small[data-icon-after]:after {
      padding: 0.25em 0.75em;
      margin: -0.25em -0.7em -0.25em 0em; }
  .btn.btn-mini {
    font-size: 12px;
    font-weight: normal;
    padding: 0.25em 0.5em; }
    .btn.btn-mini.icon:before, .btn.btn-mini[data-icon]:before {
      padding: 0.25em 0.5em;
      margin: -0.25em 0 -0.25em -0.5em; }
    .btn.btn-mini.icon-after:after, .btn.btn-mini[data-icon-after]:after {
      padding: 0.25em 0.5em;
      margin: -0.25em -0.5em -0.25em 0em; }
  .btn.btn-primary {
    text-shadow: 0px -1px 0px rgba(0, 0, 0, 0.25);
    color: white;
    background-color: #f15b40;
    border-color: #d52e10;
    border-bottom-color: #a5240c;
    background-image: -webkit-linear-gradient(top, #f15b40, #ef4728); background-image: linear-gradient(top, #f15b40, #ef4728); }
    .btn.btn-primary:focus {
      background-color: #f15b40;
      border-color: #d52e10;
      border-bottom-color: #a5240c;
      background-image: -webkit-linear-gradient(top, #f15b40, #ef4728); background-image: linear-gradient(top, #f15b40, #ef4728); }
    .btn.btn-primary:hover {
      background-color: #f36f58;
      border-color: #ed3311;
      border-bottom-color: #bd290e;
      background-image: -webkit-linear-gradient(top, #f36f58, #f15b40); background-image: linear-gradient(top, #f36f58, #f15b40); }
    .btn.btn-primary:active {
      background-color: #ef4728;
      border-color: #bd290e;
      border-bottom-color: #8e1e0a;
      background-image: -webkit-linear-gradient(top, #ef4728, #ed3311); background-image: linear-gradient(top, #ef4728, #ed3311); }
  .btn.btn-info {
    text-shadow: 0px -1px 0px rgba(0, 0, 0, 0.25);
    color: white;
    background-color: #196ae4;
    border-color: #114a9f;
    border-bottom-color: #0c3571;
    background-image: -webkit-linear-gradient(top, #196ae4, #165fcd); background-image: linear-gradient(top, #196ae4, #165fcd); }
    .btn.btn-info:focus {
      background-color: #196ae4;
      border-color: #114a9f;
      border-bottom-color: #0c3571;
      background-image: -webkit-linear-gradient(top, #196ae4, #165fcd); background-image: linear-gradient(top, #196ae4, #165fcd); }
    .btn.btn-info:hover {
      background-color: #2e78e8;
      border-color: #1455b6;
      border-bottom-color: #0f3f88;
      background-image: -webkit-linear-gradient(top, #2e78e8, #196ae4); background-image: linear-gradient(top, #2e78e8, #196ae4); }
    .btn.btn-info:active {
      background-color: #165fcd;
      border-color: #0f3f88;
      border-bottom-color: #0a2a5a;
      background-image: -webkit-linear-gradient(top, #165fcd, #1455b6); background-image: linear-gradient(top, #165fcd, #1455b6); }
  .btn.btn-alert {
    text-shadow: 0px -1px 0px rgba(0, 0, 0, 0.25);
    color: white;
    background-color: #d01616;
    border-color: #8b0f0f;
    border-bottom-color: #5d0a0a;
    background-image: -webkit-linear-gradient(top, #d01616, #b91414); background-image: linear-gradient(top, #d01616, #b91414); }
    .btn.btn-alert:focus {
      background-color: #d01616;
      border-color: #8b0f0f;
      border-bottom-color: #5d0a0a;
      background-image: -webkit-linear-gradient(top, #d01616, #b91414); background-image: linear-gradient(top, #d01616, #b91414); }
    .btn.btn-alert:hover {
      background-color: #e71919;
      border-color: #a21111;
      border-bottom-color: #740c0c;
      background-image: -webkit-linear-gradient(top, #e71919, #d01616); background-image: linear-gradient(top, #e71919, #d01616); }
    .btn.btn-alert:active {
      background-color: #b91414;
      border-color: #740c0c;
      border-bottom-color: #460707;
      background-image: -webkit-linear-gradient(top, #b91414, #a21111); background-image: linear-gradient(top, #b91414, #a21111); }
  .btn.btn-warning {
    text-shadow: 0px -1px 0px rgba(0, 0, 0, 0.25);
    color: white;
    background-color: #e4c419;
    border-color: #9f8911;
    border-bottom-color: #71610c;
    background-image: -webkit-linear-gradient(top, #e4c419, #cdb016); background-image: linear-gradient(top, #e4c419, #cdb016); }
    .btn.btn-warning:focus {
      background-color: #e4c419;
      border-color: #9f8911;
      border-bottom-color: #71610c;
      background-image: -webkit-linear-gradient(top, #e4c419, #cdb016); background-image: linear-gradient(top, #e4c419, #cdb016); }
    .btn.btn-warning:hover {
      background-color: #e8cb2e;
      border-color: #b69c14;
      border-bottom-color: #88750f;
      background-image: -webkit-linear-gradient(top, #e8cb2e, #e4c419); background-image: linear-gradient(top, #e8cb2e, #e4c419); }
    .btn.btn-warning:active {
      background-color: #cdb016;
      border-color: #88750f;
      border-bottom-color: #5a4d0a;
      background-image: -webkit-linear-gradient(top, #cdb016, #b69c14); background-image: linear-gradient(top, #cdb016, #b69c14); }
  .btn.btn-confirm {
    text-shadow: 0px -1px 0px rgba(0, 0, 0, 0.25);
    color: white;
    background-color: #3da20e;
    border-color: #225c08;
    border-bottom-color: #112d04;
    background-image: -webkit-linear-gradient(top, #3da20e, #348b0c); background-image: linear-gradient(top, #3da20e, #348b0c); }
    .btn.btn-confirm:focus {
      background-color: #3da20e;
      border-color: #225c08;
      border-bottom-color: #112d04;
      background-image: -webkit-linear-gradient(top, #3da20e, #348b0c); background-image: linear-gradient(top, #3da20e, #348b0c); }
    .btn.btn-confirm:hover {
      background-color: #46b910;
      border-color: #2b730a;
      border-bottom-color: #1a4406;
      background-image: -webkit-linear-gradient(top, #46b910, #3da20e); background-image: linear-gradient(top, #46b910, #3da20e); }
    .btn.btn-confirm:active {
      background-color: #348b0c;
      border-color: #1a4406;
      border-bottom-color: #081502;
      background-image: -webkit-linear-gradient(top, #348b0c, #2b730a); background-image: linear-gradient(top, #348b0c, #2b730a); }

.btn-group .btn {
  float: left;
  border-radius: 0px;
  margin-right: -1px; }
  .btn-group .btn:first-child {
    border-top-left-radius: 2px;
    border-bottom-left-radius: 2px; }
  .btn-group .btn:last-child {
    border-top-right-radius: 2px;
    border-bottom-right-radius: 2px; }

.nav-h, .nav-bar, .nav-v, .nav-menu, .nav-tabs {
  font-size: 14px; }
  .nav-h li, .nav-bar li, .nav-v li, .nav-menu li, .nav-tabs li, .nav-h a, .nav-bar a, .nav-v a, .nav-menu a, .nav-tabs a {
    display: block; }
  .nav-h li.active a, .nav-bar li.active a, .nav-v li.active a, .nav-menu li.active a, .nav-tabs li.active a {
    color: #f15b40; }
  .nav-h li a, .nav-bar li a, .nav-v li a, .nav-menu li a, .nav-tabs li a {
    padding: 7px 14px;
    color: gray; }
    .nav-h li a:hover, .nav-bar li a:hover, .nav-v li a:hover, .nav-menu li a:hover, .nav-tabs li a:hover {
      text-decoration: none;
      color: #999999; }
    .nav-h li a:active, .nav-bar li a:active, .nav-v li a:active, .nav-menu li a:active, .nav-tabs li a:active, .nav-h li a:focus, .nav-bar li a:focus, .nav-v li a:focus, .nav-menu li a:focus, .nav-tabs li a:focus {
      color: #666666; }
    .nav-h li a.icon, .nav-bar li a.icon, .nav-v li a.icon, .nav-menu li a.icon, .nav-tabs li a.icon, .nav-h li a[data-icon], .nav-bar li a[data-icon], .nav-v li a[data-icon], .nav-menu li a[data-icon], .nav-tabs li a[data-icon] {
      padding-left: 3em; }
      .nav-h li a.icon:after, .nav-bar li a.icon:after, .nav-v li a.icon:after, .nav-menu li a.icon:after, .nav-tabs li a.icon:after, .nav-h li a[data-icon]:after, .nav-bar li a[data-icon]:after, .nav-v li a[data-icon]:after, .nav-menu li a[data-icon]:after, .nav-tabs li a[data-icon]:after {
        padding: 0.5em 1em;
        position: absolute;
        left: 0;
        top: 50%;
        margin: -1.2em 0 0 0; }
    .nav-h li a.icon-after, .nav-bar li a.icon-after, .nav-v li a.icon-after, .nav-menu li a.icon-after, .nav-tabs li a.icon-after, .nav-h li a[data-icon-after], .nav-bar li a[data-icon-after], .nav-v li a[data-icon-after], .nav-menu li a[data-icon-after], .nav-tabs li a[data-icon-after] {
      padding-right: 2.5em; }
      .nav-h li a.icon-after:after, .nav-bar li a.icon-after:after, .nav-v li a.icon-after:after, .nav-menu li a.icon-after:after, .nav-tabs li a.icon-after:after, .nav-h li a[data-icon-after]:after, .nav-bar li a[data-icon-after]:after, .nav-v li a[data-icon-after]:after, .nav-menu li a[data-icon-after]:after, .nav-tabs li a[data-icon-after]:after {
        padding: 0.5em 1em;
        position: absolute;
        right: 0;
        top: 50%;
        margin: -1.2em 0 0 0; }

.nav-h, .nav-bar {
  margin-top: 0.5em;
  margin-bottom: 0.5em; }
  .nav-h li, .nav-bar li {
    border-left: 1px solid #e6e6e6; }
    .nav-h li:first-child, .nav-bar li:first-child {
      border: none; }
    .nav-h li a, .nav-bar li a {
      margin-top: -0.5em;
      margin-bottom: -0.5em; }
  .nav-h li, .nav-bar li, .nav-h a, .nav-bar a {
    float: left; }
  @media only screen and (min-width: 280px) and (max-width: 600px) {
    .nav-h.nav-v-switch, .nav-v-switch.nav-bar {
      margin: 0; }
      .nav-h.nav-v-switch li, .nav-v-switch.nav-bar li, .nav-h.nav-v-switch a, .nav-v-switch.nav-bar a {
        float: none;
        border: none; }
      .nav-h.nav-v-switch li a, .nav-v-switch.nav-bar li a {
        margin: 0; } }

.nav-v li, .nav-menu li {
  border-top: 1px solid #e6e6e6; }
  .nav-v li:first-child, .nav-menu li:first-child {
    border: none; }

.nav-menu, .nav-bar {
  border: 1px solid #e6e6e6;
  border-bottom-color: #cccccc;
  background: #fafafa;
  margin-bottom: 20px;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.05), 0px 1px 1px rgba(0, 0, 0, 0.1); }

.nav-menu {
  border-radius: 5px;
  background: white; }
  .nav-menu li a:hover {
    background: #fcfcfc; }
  .nav-menu li a:active, .nav-menu li a:focus {
    background: #f2f2f2; }
  .nav-menu li:first-child a {
    border-top-left-radius: 5px;
    border-top-right-radius: 5px; }
  .nav-menu li:last-child a {
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px; }

.pane .nav-menu, .pane .nav-v, .pane .nav-menu {
  border: none;
  border-radius: 0 0 5px 5px;
  box-shadow: none; }

.nav-bar {
  margin: 0;
  padding: 4px; }
  .nav-bar li {
    border: none;
    position: relative;
    z-index: 20; }
    .nav-bar li a {
      border: 1px solid #fafafa;
      margin-top: 0;
      margin-bottom: 0;
      border-radius: 3px; }
      .nav-bar li a:hover, .nav-bar li a:active, .nav-bar li a:focus {
        background: white;
        border-color: #e6e6e6; }
      .nav-bar li a:active, .nav-bar li a:focus {
        border-color: #cccccc;
        background: #e6e6e6; }
    .nav-bar li .nav-menu {
      position: absolute;
      z-index: 100;
      top: 100%;
      margin-top: -1px;
      display: none;
      width: auto;
      max-width: 200px; }
      .nav-bar li .nav-menu li, .nav-bar li .nav-menu a {
        float: none;
        display: block; }
      .nav-bar li .nav-menu li {
        border-top: 1px solid #e6e6e6; }
        .nav-bar li .nav-menu li:first-child {
          border: none; }
      .nav-bar li .nav-menu a {
        border: none;
        border-radius: 0; }
    .nav-bar li:hover a {
      background: white;
      border-color: #e6e6e6; }
    .nav-bar li:hover .nav-menu {
      display: block; }

.nav-tabs {
  border-bottom: 1px solid #cccccc; }
  .nav-tabs li, .nav-tabs a {
    float: left; }
  .nav-tabs li {
    border: 1px solid transparent;
    margin-bottom: -1px; }
    .nav-tabs li.active {
      border: 1px solid #cccccc;
      border-bottom-color: white; }
  @media only screen and (min-width: 280px) and (max-width: 600px) {
    .nav-tabs {
      border: none; }
      .nav-tabs li, .nav-tabs a {
        float: none; }
      .nav-tabs li {
        margin: none;
        border: none; }
        .nav-tabs li.active {
          border: none; } }

@font-face {
  font-family: 'fonticons';
  src: url("fonts/icons/fonticons.eot");
  src: url("fonts/icons/fonticons.eot?#iefix") format("embedded-opentype"), url("fonts/icons/fonticons.woff") format("woff"), url("fonts/icons/fonticons.ttf") format("truetype"), url("fonts/icons/fonticons.svg#fonticons") format("svg");
  font-weight: normal;
  font-style: normal; }

.icon:before, [data-icon]:before, .icon-after:after, [data-icon-after]:after {
  font-family: 'fonticons';
  font-style: normal;
  font-weight: normal;
  speak: none;
  text-decoration: inherit;
  text-align: center;
  padding: 0.5em 1em;
  margin: -0.5em 0 -0.5em -1em;
  opacity: 0.8;
  display: inline-block; }

.icon, [data-icon] {
  position: relative; }
  .icon:before, [data-icon]:before {
    content: attr(data-icon);
    text-decoration: none; }

.icon-after, [data-icon-after] {
  position: relative; }
  .icon-after:after, [data-icon-after]:after {
    margin: -0.5em -1em -0.5em 0;
    content: attr(data-icon-after);
    text-decoration: none; }

input[type=text], input[type=email], input[type=tel], input[type=url],
input[type=number], input[type=password], input[type=search], .text-input, textarea,
input[type=date], input[type=week], input[type=month],
input[type=time], input[type=datetime], input[type=datetime-local] {
  position: relative;
  padding: 7px 3.5px;
  margin: 0 0 0.5em;
  border: 1px solid #b3b3b3;
  font-size: 14px;
  height: 14px;
  line-height: 14px;
  border-radius: 2px;
  box-shadow: inset 0px 1px 2px rgba(0, 0, 0, 0.1); }

input[type=date], input[type=week], input[type=month],
input[type=time], input[type=datetime-local] {
  -webkit-appearance: border-box; }

textarea {
  resize: both;
  max-width: 100%;
  height: auto; }

select {
  -webkit-appearance: none;
  -webkit-padding-before: 6px;
  -webkit-padding-after: 6px;
  -webkit-padding-start: 7px;
  -webkit-padding-end: 20px;
  color: #666666;
  font-size: 14px;
  border: 1px solid #cccccc;
  border-bottom-color: #b3b3b3;
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.15);
  border-radius: 2px;
  display: inline-block; *display: inline; *zoom: 1;
  background-image: -webkit-image-set(url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABMAAAAICAYAAAAbQcSUAAAAaUlEQVQoz2P4//8/A7UwdkEGhiggTsODo4g2LBEImJmZvwE1/UfHIHGQPNGGAbHCggULFrKxsf1ENgjEB4mD5EnxJoaByAZB5Yk3DNlAPj6+L8gGkWUYzMC3b982IRtEtmFQjaxYxDAwAGi4TwMYKNLfAAAAAElFTkSuQmCC") 1x, url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACcAAAAQCAYAAACV3GYgAAAAWklEQVRIx+3VOwoAIAwD0B49N686CCJ+K0aHFrIl8LaKqsqvEccxcPEQo8bgNs4KTBth4HaByCMWbhWIcsDEzYCoy2xcD4hW8QWuBqJXeoXLQIwK/iEc57iDBIg+ClNpjek/AAAAAElFTkSuQmCC") 2x), -webkit-linear-gradient(top, #f2f2f2, #e6e6e6); background-image: linear-gradient(top, #f2f2f2, #e6e6e6);
  background-position: right center;
  background-repeat: no-repeat; }

.field {
  margin-bottom: 10px;
  padding: 0px 5px;
  position: relative;
  z-index: 1; }
  .field input[type=text], .field input[type=email], .field input[type=tel], .field input[type=url],
  .field input[type=number], .field input[type=password], .field input[type=search], .field .text-input, .field textarea,
  .field input[type=date], .field input[type=week], .field input[type=month],
  .field input[type=time], .field input[type=datetime], .field input[type=datetime-local] {
    margin: 0 -5px 0.5em;
    width: 100%;
    display: block; }
  .field label, .field select {
    margin-left: -5px;
    margin-right: 10px; }
  .field .hint {
    font-size: 12px;
    font-style: italic;
    color: #999999;
    margin: 0; }
  .field .field-message {
    position: relative;
    font-size: 12px;
    margin: 0px; }
  .field.with-error label {
    color: #d01616; }
  .field.with-error input {
    border-color: #d01616;
    color: #d01616;
    background-color: #fde8e8; }
  .field.with-error .field-message {
    color: #d01616; }
  .field.with-notice label {
    color: #b69c14; }
  .field.with-notice input {
    border-color: #b69c14;
    color: #88750f;
    background-color: #f7edb8; }
  .field.with-notice .field-message {
    color: #b69c14; }
  .field.with-success label {
    color: #348b0c; }
  .field.with-success input {
    border-color: #348b0c;
    color: #348b0c;
    background-color: #dcfbce; }
  .field.with-success .field-message {
    color: #348b0c; }

.actions {
  padding: 20px;
  background: #fafafa;
  border-top: 1px solid #ebebeb;
  text-align: right; }
  .actions a {
    color: #be7f73; }
    .actions a:hover {
      color: #f15b40; }
  .actions .disclaimer {
    margin: 0;
    padding: 9px 0;
    text-align: left;
    font-size: 12px;
    line-height: 12px;
    float: left; }

::-webkit-input-placeholder {
  opacity: 1;
  -webkit-transition: opacity 0.15s linear; }

:-moz-input-placeholder {
  opacity: 1;
  -moz-transition: opacity 0.15s linear; }

:input-placeholder {
  opacity: 1;
  transition: opacity 0.15s linear; }

input:focus::-webkit-input-placeholder, textarea:focus::-webkit-input-placeholder {
  opacity: 0; }
input:focus:-moz-input-placeholder, textarea:focus:-moz-input-placeholder {
  opacity: 0; }
input:focus:input-placeholder, textarea:focus:input-placeholder {
  opacity: 0; }

.grid {
  position: relative; }
  .grid .col {
    display: block;
    float: left;
    width: 60px;
    margin: 0 10px 20px; }
    .grid .col .col:last-child {
      margin-right: 0 !important; }
    .grid .col .col:first-child {
      margin-left: 0 !important; }
    .grid .col .col.first {
      margin-left: 0 !important; }
    .grid .col .col.last {
      margin-right: 0 !important; }
    .grid .col.colshift1 {
      margin-left: 90px; }
    .grid .col.colpush1 {
      margin-right: 90px; }
    .grid .col.colstretch1 {
      padding-left: 40px;
      padding-right: 40px; }
    .grid .col.colstretch-left1 {
      padding-left: 80px; }
    .grid .col.colstretch-right1 {
      padding-right: 80px; }
    .grid .col.colspan2 {
      width: 140px; }
    .grid .col.colshift2 {
      margin-left: 170px; }
    .grid .col.colpush2 {
      margin-right: 170px; }
    .grid .col.colstretch2 {
      padding-left: 80px;
      padding-right: 80px; }
    .grid .col.colstretch-left2 {
      padding-left: 160px; }
    .grid .col.colstretch-right2 {
      padding-right: 160px; }
    .grid .col.colspan3 {
      width: 220px; }
    .grid .col.colshift3 {
      margin-left: 250px; }
    .grid .col.colpush3 {
      margin-right: 250px; }
    .grid .col.colstretch3 {
      padding-left: 120px;
      padding-right: 120px; }
    .grid .col.colstretch-left3 {
      padding-left: 240px; }
    .grid .col.colstretch-right3 {
      padding-right: 240px; }
    .grid .col.colspan4 {
      width: 300px; }
    .grid .col.colshift4 {
      margin-left: 330px; }
    .grid .col.colpush4 {
      margin-right: 330px; }
    .grid .col.colstretch4 {
      padding-left: 160px;
      padding-right: 160px; }
    .grid .col.colstretch-left4 {
      padding-left: 320px; }
    .grid .col.colstretch-right4 {
      padding-right: 320px; }
    .grid .col.colspan5 {
      width: 380px; }
    .grid .col.colshift5 {
      margin-left: 410px; }
    .grid .col.colpush5 {
      margin-right: 410px; }
    .grid .col.colstretch5 {
      padding-left: 200px;
      padding-right: 200px; }
    .grid .col.colstretch-left5 {
      padding-left: 400px; }
    .grid .col.colstretch-right5 {
      padding-right: 400px; }
    .grid .col.colspan6 {
      width: 460px; }
    .grid .col.colshift6 {
      margin-left: 490px; }
    .grid .col.colpush6 {
      margin-right: 490px; }
    .grid .col.colstretch6 {
      padding-left: 240px;
      padding-right: 240px; }
    .grid .col.colstretch-left6 {
      padding-left: 480px; }
    .grid .col.colstretch-right6 {
      padding-right: 480px; }
    .grid .col.colspan7 {
      width: 540px; }
    .grid .col.colshift7 {
      margin-left: 570px; }
    .grid .col.colpush7 {
      margin-right: 570px; }
    .grid .col.colstretch7 {
      padding-left: 280px;
      padding-right: 280px; }
    .grid .col.colstretch-left7 {
      padding-left: 560px; }
    .grid .col.colstretch-right7 {
      padding-right: 560px; }
    .grid .col.colspan8 {
      width: 620px; }
    .grid .col.colshift8 {
      margin-left: 650px; }
    .grid .col.colpush8 {
      margin-right: 650px; }
    .grid .col.colstretch8 {
      padding-left: 320px;
      padding-right: 320px; }
    .grid .col.colstretch-left8 {
      padding-left: 640px; }
    .grid .col.colstretch-right8 {
      padding-right: 640px; }
    .grid .col.colspan9 {
      width: 700px; }
    .grid .col.colshift9 {
      margin-left: 730px; }
    .grid .col.colpush9 {
      margin-right: 730px; }
    .grid .col.colstretch9 {
      padding-left: 360px;
      padding-right: 360px; }
    .grid .col.colstretch-left9 {
      padding-left: 720px; }
    .grid .col.colstretch-right9 {
      padding-right: 720px; }
    .grid .col.colspan10 {
      width: 780px; }
    .grid .col.colshift10 {
      margin-left: 810px; }
    .grid .col.colpush10 {
      margin-right: 810px; }
    .grid .col.colstretch10 {
      padding-left: 400px;
      padding-right: 400px; }
    .grid .col.colstretch-left10 {
      padding-left: 800px; }
    .grid .col.colstretch-right10 {
      padding-right: 800px; }
    .grid .col.colspan11 {
      width: 860px; }
    .grid .col.colshift11 {
      margin-left: 890px; }
    .grid .col.colpush11 {
      margin-right: 890px; }
    .grid .col.colstretch11 {
      padding-left: 440px;
      padding-right: 440px; }
    .grid .col.colstretch-left11 {
      padding-left: 880px; }
    .grid .col.colstretch-right11 {
      padding-right: 880px; }
    .grid .col.colspan12 {
      width: 940px; }
    @media only screen and (min-width: 600px) and (max-width: 1000px) {
      .grid .col {
        width: 6.25%;
        margin: 0 1.04167% 20px; }
        .grid .col.colshift1 {
          margin-left: 9.375%; }
        .grid .col.colpush1 {
          margin-right: 9.375%; }
        .grid .col.colstretch1 {
          padding-left: 4.16667%;
          padding-right: 4.16667%; }
        .grid .col.colstretch-left1 {
          padding-left: 8.33333%; }
        .grid .col.colstretch-right1 {
          padding-right: 8.33333%; }
        .grid .col.colspan2 {
          width: 14.58333%; }
          .grid .col.colspan2 .col {
            width: 100% !important;
            margin: 0 0 20px 0 !important; }
        .grid .col.colshift2 {
          margin-left: 17.70833%; }
        .grid .col.colpush2 {
          margin-right: 17.70833%; }
        .grid .col.colstretch2 {
          padding-left: 8.33333%;
          padding-right: 8.33333%; }
        .grid .col.colstretch-left2 {
          padding-left: 16.66667%; }
        .grid .col.colstretch-right2 {
          padding-right: 16.66667%; }
        .grid .col.colspan3 {
          width: 22.91667%; }
          .grid .col.colspan3 .col {
            width: 100% !important;
            margin: 0 0 20px 0 !important; }
        .grid .col.colshift3 {
          margin-left: 26.04167%; }
        .grid .col.colpush3 {
          margin-right: 26.04167%; }
        .grid .col.colstretch3 {
          padding-left: 12.5%;
          padding-right: 12.5%; }
        .grid .col.colstretch-left3 {
          padding-left: 25%; }
        .grid .col.colstretch-right3 {
          padding-right: 25%; }
        .grid .col.colspan4 {
          width: 31.25%; }
          .grid .col.colspan4 .col {
            width: 100% !important;
            margin: 0 0 20px 0 !important; }
        .grid .col.colshift4 {
          margin-left: 34.375%; }
        .grid .col.colpush4 {
          margin-right: 34.375%; }
        .grid .col.colstretch4 {
          padding-left: 16.66667%;
          padding-right: 16.66667%; }
        .grid .col.colstretch-left4 {
          padding-left: 33.33333%; }
        .grid .col.colstretch-right4 {
          padding-right: 33.33333%; }
        .grid .col.colspan5 {
          width: 39.58333%; }
          .grid .col.colspan5 .col {
            width: 100% !important;
            margin: 0 0 20px 0 !important; }
        .grid .col.colshift5 {
          margin-left: 42.70833%; }
        .grid .col.colpush5 {
          margin-right: 42.70833%; }
        .grid .col.colstretch5 {
          padding-left: 20.83333%;
          padding-right: 20.83333%; }
        .grid .col.colstretch-left5 {
          padding-left: 41.66667%; }
        .grid .col.colstretch-right5 {
          padding-right: 41.66667%; }
        .grid .col.colspan6 {
          width: 47.91667%; }
          .grid .col.colspan6 .col {
            width: 100% !important;
            margin: 0 0 20px 0 !important; }
        .grid .col.colshift6 {
          margin-left: 51.04167%; }
        .grid .col.colpush6 {
          margin-right: 51.04167%; }
        .grid .col.colstretch6 {
          padding-left: 25.0%;
          padding-right: 25.0%; }
        .grid .col.colstretch-left6 {
          padding-left: 50%; }
        .grid .col.colstretch-right6 {
          padding-right: 50%; }
        .grid .col.colspan7 {
          width: 56.25%; }
          .grid .col.colspan7 .col {
            width: 100% !important;
            margin: 0 0 20px 0 !important; }
        .grid .col.colshift7 {
          margin-left: 59.375%; }
        .grid .col.colpush7 {
          margin-right: 59.375%; }
        .grid .col.colstretch7 {
          padding-left: 29.16667%;
          padding-right: 29.16667%; }
        .grid .col.colstretch-left7 {
          padding-left: 58.33333%; }
        .grid .col.colstretch-right7 {
          padding-right: 58.33333%; }
        .grid .col.colspan8 {
          width: 64.58333%; }
          .grid .col.colspan8 .col {
            width: 100% !important;
            margin: 0 0 20px 0 !important; }
        .grid .col.colshift8 {
          margin-left: 67.70833%; }
        .grid .col.colpush8 {
          margin-right: 67.70833%; }
        .grid .col.colstretch8 {
          padding-left: 33.33333%;
          padding-right: 33.33333%; }
        .grid .col.colstretch-left8 {
          padding-left: 66.66667%; }
        .grid .col.colstretch-right8 {
          padding-right: 66.66667%; }
        .grid .col.colspan9 {
          width: 72.91667%; }
          .grid .col.colspan9 .col {
            width: 100% !important;
            margin: 0 0 20px 0 !important; }
        .grid .col.colshift9 {
          margin-left: 76.04167%; }
        .grid .col.colpush9 {
          margin-right: 76.04167%; }
        .grid .col.colstretch9 {
          padding-left: 37.5%;
          padding-right: 37.5%; }
        .grid .col.colstretch-left9 {
          padding-left: 75%; }
        .grid .col.colstretch-right9 {
          padding-right: 75%; }
        .grid .col.colspan10 {
          width: 81.25%; }
          .grid .col.colspan10 .col {
            width: 100% !important;
            margin: 0 0 20px 0 !important; }
        .grid .col.colshift10 {
          margin-left: 84.375%; }
        .grid .col.colpush10 {
          margin-right: 84.375%; }
        .grid .col.colstretch10 {
          padding-left: 41.66667%;
          padding-right: 41.66667%; }
        .grid .col.colstretch-left10 {
          padding-left: 83.33333%; }
        .grid .col.colstretch-right10 {
          padding-right: 83.33333%; }
        .grid .col.colspan11 {
          width: 89.58333%; }
          .grid .col.colspan11 .col {
            width: 100% !important;
            margin: 0 0 20px 0 !important; }
        .grid .col.colshift11 {
          margin-left: 92.70833%; }
        .grid .col.colpush11 {
          margin-right: 92.70833%; }
        .grid .col.colstretch11 {
          padding-left: 45.83333%;
          padding-right: 45.83333%; }
        .grid .col.colstretch-left11 {
          padding-left: 91.66667%; }
        .grid .col.colstretch-right11 {
          padding-right: 91.66667%; }
        .grid .col.colspan12 {
          width: 97.91667%; }
          .grid .col.colspan12 .col {
            width: 100% !important;
            margin: 0 0 20px 0 !important; } }
    @media only screen and (min-width: 280px) and (max-width: 600px) {
      .grid .col {
        width: 100%;
        margin: 0 0 20px 0 !important;
        padding-left: 0 !important;
        padding-right: 0 !important; }
        .grid .col.colspan2 {
          width: 100%; }
        .grid .col.colspan3 {
          width: 100%; }
        .grid .col.colspan4 {
          width: 100%; }
        .grid .col.colspan5 {
          width: 100%; }
        .grid .col.colspan6 {
          width: 100%; }
        .grid .col.colspan7 {
          width: 100%; }
        .grid .col.colspan8 {
          width: 100%; }
        .grid .col.colspan9 {
          width: 100%; }
        .grid .col.colspan10 {
          width: 100%; }
        .grid .col.colspan11 {
          width: 100%; }
        .grid .col.colspan12 {
          width: 100%; } }

.table {
  width: 100%; }
  .table td, .table th {
    border-bottom: 1px solid #e6e6e6;
    padding: .5em 1em;
    text-align: left;
    background: white; }
  .table tbody tr:last-child td, .table tbody tr:last-child th {
    border-bottom: none; }
  .table thead td, .table thead th {
    font-weight: bold; }
  .table tfoot td, .table tfoot th {
    border-bottom: none;
    border-top: 1px solid #e6e6e6;
    font-weight: bold; }
  .table.with-borders {
    border: 1px solid #e6e6e6; }
    .table.with-borders td, .table.with-borders th {
      border: 1px solid #e6e6e6; }
    .table.with-borders th {
      background: #fafafa; }
    .table.with-borders tfoot th, .table.with-borders tfoot td {
      background: #e6e6e6;
      border-top: 1px solid #cccccc; }
  .table.with-stripes tbody tr:nth-child(odd) td, .table.with-stripes tbody tr:nth-child(odd) th {
    background: #fafafa; }
  .table.with-row-hover tbody tr:hover th, .table.with-row-hover tbody tr:hover td {
    background: #fafafa; }

.message-box {
  position: relative;
  background: #e6e6e6;
  margin: 20px 0;
  padding: 20px;
  border: 1px solid #999999;
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.15); }

.error, .error td, .error th, .message-box.error td, .message-box.error th, .message-box.error, .error td.message-box, .error th.message-box {
  border-color: #f07575;
  background-color: #f8baba;
  color: #a21111; }

.notice, .notice td, .notice th, .message-box.notice td, .message-box.notice th, .message-box.notice, .notice td.message-box, .notice th.message-box {
  border-color: #ebd145;
  background-color: #faf3cf;
  color: #88750f; }

.info, .info td, .info th, .message-box.info td, .message-box.info th, .message-box.info, .info td.message-box, .info th.message-box {
  border-color: #5c96ed;
  background-color: #cfe0fa;
  color: #1455b6; }

.success, .success td, .success th, .message-box.success td, .message-box.success th, .message-box.success, .success td.message-box, .success th.message-box {
  border-color: #89f158;
  background-color: #dcfbce;
  color: #348b0c; }

.img-circle {
  border-radius: 50%;
  box-shadow: 0px 0px 0px 3px white, 0px 1px 7px rgba(0, 0, 0, 0.8); }

.img-rounded {
  border-radius: 20px; }

.img-polaroid {
  box-shadow: 0px 0px 0px 3px white, 0px 1px 7px rgba(0, 0, 0, 0.8);
  -webkit-transform: rotate(2deg);
  -ms-transform: rotate(2deg);
  transform: rotate(2deg); }

.img-polaroid-alt {
  box-shadow: 0px 0px 0px 3px white, 0px 1px 7px rgba(0, 0, 0, 0.8);
  -webkit-transform: rotate(-2deg);
  -ms-transform: rotate(-2deg);
  transform: rotate(-2deg); }

.media {
  overflow: hidden;
  *overflow: visible;
  *zoom: 1;
  padding: 10px; }
  .media img.media-head {
    display: block;
    max-width: 100%; }
  .media .media-head {
    float: left;
    margin-right: 10px; }
  .media .media-head-alt {
    float: right;
    margin-left: 10px; }
  .media .media-body {
    overflow: hidden;
    *overflow: visible;
    *zoom: 1;
    position: relative;
    display: block; }
    .media .media-body :first-child {
      margin-top: 0; }
  .media .media-controls {
    position: absolute;
    top: 0;
    right: 1px; }

body:after {
  padding: 5px;
  display: block;
  font-weight: bold;
  background: #e6e6e6;
  color: #666666;
  opacity: 0.5;
  position: fixed;
  bottom: 0;
  left: 0;
  outline: 1px dotted red; }
  @media only screen and (min-width: 280px) and (max-width: 600px) {
    body:after {
      content: 'handheld'; } }
  @media only screen and (min-width: 600px) and (max-width: 1000px) {
    body:after {
      content: 'tablet'; } }
  @media only screen and (min-width: 1000px) {
    body:after {
      content: 'monitor'; } }
