/* ==========================================================================
   Typography
   ========================================================================== */
   $heading-margin-after: 0.2em;


/* --------------------------------------------------------------------------
   Text Block Elements
   -------------------------------------------------------------------------- */
h1, h2, h3, h4, h5, h6 {
  margin: 0.9em 0 $heading-margin-after;
  line-height: 1.1;
}

h1, h2, h3, h4, h5, h6 {
	font-weight: 700;
	a {
		text-decoration: none;
		&:hover {
			text-decoration: underline;
		}
	}  
  &:first-child { margin-top: 0; }
}

h1 { font-size: $font-size-enormous; }
h2 { font-size: $font-size-huge; }
h3 { font-size: $font-size-xxlarge; margin-bottom: 0.25em; }
h4 { font-size: $font-size-xlarge; } 
h5 { font-size: $font-size-medium; }
h6 { font-size: $font-size-medium; }

h3, h4, h5, h6 { color: $gray; }
h5, h6 { font-style: italic; }
h4, h6 { font-weight: normal; }

ul, ol { padding-left: 2.15em; }
dd     { margin-left: 30px; font-style: italic; }
dt     { font-weight: bold; }

p, ul, ol {
  margin: 0.25em 0 1em;
}

ul ul, ul ol, ol ul, ol ol {
  margin-bottom: 0.25em;
}

// Nested Lists
ol { ol { list-style: lower-alpha; ol { list-style: lower-roman; } } }
ul { ul { list-style: circle; ul { list-style: square; } } }


/* Heading Combinations */
hgroup {
  h1, h2, h3, h4, h5, h6 {
    margin-top: $heading-margin-after;
  }
}


/* Navigation lists will not have bullets. */
nav ul, nav ol {
    list-style: none;
    list-style-image: none;
    margin: 0;
    padding: 0;
}

/* --------------------------------------------------------------------------
   Links
   -------------------------------------------------------------------------- */
a {
    color: $link-color;
    text-decoration: none;
    
    &:hover {
        color: $link-hover-color;
        text-decoration: underline;
    }

    &:active, &:focus {
      color: $link-active-color;
      text-decoration: underline;
    }

//    &:visited {
//        color: $link-visited-color;
//    }
//
//    &:focus {
//        outline: thin dotted;
//    }
}

// Improve readability when focused and hovered in all browsers: h5bp.com/h
a:hover, a:active {
    outline: 0;
//    text-decoration: none;
}

/* --------------------------------------------------------------------------
   Semantic Tags
   -------------------------------------------------------------------------- */
abbr[title] {
    border-bottom: 1px dotted;
}

b, strong {
    font-weight: bold;
}

blockquote {
  border-left: 2px solid lighten($silver, 5%);
  margin: 1em 0;
  padding: 0 30px;
  color: $light-gray;
  font-weight: 300;
}

dfn {
    font-style: italic;
}

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid $silver;
    margin: 1em 0;
    padding: 0;
}

ins {
    background: $light-yellow;
    color: $black;
    text-decoration: none;
}

mark {
    background: $yellow;
    color: $black;
    font-style: italic;
    font-weight: bold;
}


// Redeclare monospace font family: h5bp.com/j
pre, code, kbd, samp {
    font-family: $font-monospace;
    font-size: 1em;

    @if $supports-ie6 == true {
        _font-family: 'courier new', $font-monospace; // < ie6
    }
}


// Improve readability of pre-formatted text
pre {
    white-space: pre;
    white-space: pre-wrap;
    word-wrap: break-word;
}

q {
    quotes: none;
}

q:before, q:after {
    content: "";
    content: none;
}

small {
    font-size: $font-size-small;
}

// Position subscript and superscript content without affecting line-height: h5bp.com/k
sub, sup {
    font-size: $font-size-xsmall;
    line-height: 0;
    position: relative;
    vertical-align: baseline;
}

sup {
    top: -0.5em;
}

sub {
    bottom: -0.25em;
}

/* --------------------------------------------------------------------------
   Typographic Classes
   -------------------------------------------------------------------------- */
.lead {
  font-size: $font-size-xxlarge;
  line-height: 1.4em;
  color: $gray;
  margin: 40px 0;
  font-weight: 200; // if it's supported?
}

.text-right { text-align: right; }
.text-left { text-align: left; }
.text-center { text-align: center; }