//  --------------------------------------------------------------------------
//  Colors
//  --------------------------------------------------------------------------
    
    // Color Applications
    $selection-color: #b3d4fc;
    
    // Base Colors
    $red:          #D01616;
    $light-red:    lighten($red,    15%);
    $dark-red:     darken( $red,    15%);
    $orange:       #ff6622;
    $light-orange: lighten($orange, 15%);
    $dark-orange:  darken( $orange, 15%);
    $yellow:       #E4C419;
    $light-yellow: lighten($yellow, 10%);
    $dark-yellow:  darken( $yellow, 15%);
    $green:        #3DA20E;
    $light-green:  lighten($green,  15%);
    $dark-green:   darken( $green,  15%);
    $blue:         #196AE4;
    $light-blue:   lighten($blue,   15%);
    $dark-blue:    darken( $blue,   15%);
    $indigo:       #220066;
    $light-indigo: lighten($indigo, 15%);
    $dark-indigo:  darken( $indigo, 15%);
    $violet:       #330044;
    $light-violet: lighten($violet, 15%);
    $dark-violet:  darken( $violet, 15%);

    // Shades of Gray
    $white:          hsl(0,0,100%); // #fff
    $light-silver:   hsl(0,0, 90%); // #e5e5e5
    $silver:         hsl(0,0, 80%); // #ccc
    $dark-silver:    hsl(0,0, 70%); // #b3b3b3
    $light-gray:     hsl(0,0, 60%); // #999
    $gray:           hsl(0,0, 50%); // #808080
    $dark-gray:      hsl(0,0, 40%); // #666
    $light-charcoal: hsl(0,0, 30%); // 4d4d4d
    $charcoal:       hsl(0,0, 20%); // #333
    $dark-charcoal:  hsl(0,0, 10%); // #1a1a1a
    $black:          hsl(0,0,  0%); // #000
    
    // Link Colors
    $link-color:        darken($selection-color, 35%);
    $link-active-color: darken($selection-color, 50%);
    $link-hover-color:  darken($selection-color, 25%);

    // Pallette
    $primary:          rgb(241, 91, 64);   // Think Shift Rorange
    $accent:           rgb(108, 103, 157); // Think Shift Purple
    $highlight:        rgb(223, 226, 90);  // Think Shift Yellow
    $primary-contrast: invert($primary);   // A light blue
    
    // Status Colours
    $info:    $blue;   // blue
    $alert:   $red;    // red
    $warning: $yellow; // amber
    $confirm: $green;  // green