//  --------------------------------------------------------------------------
//  Fonts Sizes
//  --------------------------------------------------------------------------
    
    // Base Font Size is calculated based on the browser default: 16px.
    // 16 x 0.75 = 12px which becomes the new base font for the entire document.
    // Base font is set on the body element, so all percentages of font sizes
    // are relative to 12px. So: p { font-size: 75% } = 12 * 0.75 = 9px.
    $font-size-base:      14px;
    
    // Relative to the base (defaults to 12px)
    $font-size-tiny:      9px;
    $font-size-xsmall:   10px;
    $font-size-small:    11px;
    $font-size-fine:     12px;
    $font-size-normal:   14px;
    $font-size-medium:   14px;
    $font-size-large:    16px;
    $font-size-xlarge:   18px;
    $font-size-xxlarge:  24px;
    $font-size-huge:     30px;
    $font-size-enormous: 36px;