// ==================================================
// THINK SHIFT SOURCE
// ==================================================
@import "thinkshift/src";

// ==================================================
// THEME
// ==================================================
.masthead h1 {
  font-family: 'oswald', sans-serif;
  font-weight: 300;
}

h1 {
  font-family: 'oswald', sans-serif;
  text-transform: uppercase;
}

// ==================================================
// DEBUGGING
// ==================================================
body {
  &:after {
    padding: 5px;
    display: block;
    font-weight: bold;
    background: lighten($silver, 10%);
    color: $dark-gray;
    opacity: 0.5;
    position: fixed;
    bottom: 0;
    left: 0;
    outline: 1px dotted red;
    
    @include breakpoint(handheld) {
      content: 'handheld';
    }

    @include breakpoint(tablet) {
      content: 'tablet';
    }

    @include breakpoint(monitor) {
      content: 'monitor';
    }
  }
}