// ==================================================
// BASE
// ==================================================

// Variables and Options
@import "base/config";

// Some handy-dandy mixins
@import "base/mixins";

// Browser Default Style Normalization
@import "base/normalize";

// Base Typographic Settings
@import "base/typography";

// CSS Helper Classes
@import "base/helpers";

// ==================================================
// LAYOUT
// ==================================================
@import "layout";

// ==================================================
// MODULES
// ==================================================
// Buttons
@import "modules/buttons";

// Navigations
@import "modules/navigations";

// Icons
@import "modules/icons";

// Forms
//@import "modules/forms";

// Grid
@import "modules/grid";

// Table
@import "modules/table";

// Images
@import "modules/images";

// Layout Modules?
@import "modules/media";

// ==================================================
// THEME
// ==================================================
@import "theme";

body {
  &:after {
    padding: 5px;
    display: block;
    font-weight: bold;
    background: lighten($silver, 10%);
    color: $dark-gray;
    opacity: 0.5;
    position: fixed;
    bottom: 0;
    left: 0;
    outline: 1px dotted red;
    
    @include breakpoint(handheld) {
      content: 'handheld';
    }

    @include breakpoint(tablet) {
      content: 'tablet';
    }

    @include breakpoint(monitor) {
      content: 'monitor';
    }
  }
}