// =============================================================================
// Buttons.scss
// ------------
// =============================================================================
$default-button-color: lighten($silver, 10%);
$default-button-border-radius: 2px;
$default-button-text-color: darken($light-gray, 10%);
//$default-primary-button-color: ;

// Depends on base/mixins
@mixin button-color($color: $default-button-color, $gradient:true) {

  background-color: $color;
  border-color: darken($color, 5%);
  @if $gradient == true {
    @include background-linear-gradient("top, #{lighten($color, 10%)}, #{$color}");
  }
  
}

// Base Button
.btn {
    
//  font-weight: bold;
  color: $default-button-text-color;
  font-size: ($font-size-medium);
  border: 1px solid;
  padding: 0.35em 1em;
  text-decoration: none;
  
  @include button-color;
  @include text-shadow(0px 1px 0px rgba(255,255,255,0.5));
  @include box-shadow("0px 0px 3px rgba(0,0,0,0.05), inset 0px 1px 0px rgba(255,255,255,0.8), 0px 1px 1px rgba(0,0,0,0.25)");
  @include border-radius($default-button-border-radius);
  @include display-inline-block;
  
  &:hover {
    
    position: relative;
    z-index: 1;
    
    color: $default-button-text-color;
    @include button-color(lighten($default-button-color, 5%));
  
  }
  
  &:active, &:focus {
    
    position: relative;
    z-index: 1;
    color: darken($light-gray, 10%);
    @include button-color(darken($default-button-color, 15%));
    @include box-shadow("inset 0px 1px 3px rgba(0,0,0,0.5), 0px 1px 0px rgba(255,255,255,0.8)")
    
  }
  
  &:visited {
    color: $default-button-text-color;
  }
  
  // Modified Buttons
  &.btn-large {
    font-size: $font-size-medium;
    padding: 0.75em 1.2em;
  }
  
  &.btn-small {
    font-size: $font-size-fine;
    padding: 0.1em 0.5em;
  }
  
  // Alternate Button Styles
  
  
}

.btn-group {
  
  overflow: hidden; // clearfix later.
  
  .btn {
    
    float: left;
    @include border-radius(0px);
    margin-right: -1px;
    
    &:first-child {
      @include border-radius-utility($default-button-border-radius, false, false, $default-button-border-radius);
    }
    
    &:last-child {
      @include border-radius-utility(false, $default-button-border-radius, $default-button-border-radius, false);
    }
    
  }

}
