// =============================================================================
// Navigations.scss
// ----------------
// =============================================================================


%nav {
  
  font-size: $font-size-large;
  
  li, a {
    display: block;
  }
  
  a {
    padding: 0.45em 1em;
    color: $gray;
    
    &:hover {
      text-decoration: none;
      color: $light-gray;
    }
    &:active, &:focus {
      color: $dark-gray;
    }
    
  }
  
}

// horizontal navigation
.nav-h {
  @extend %nav;
  @extend .clearfix;
  
  li, a {
    float: left;
  }
  
  li {
    border-left: 1px solid lighten($silver, 10%);
    &:first-child {
      border: none;
    }
  }
  
}

// vertical navigation
.nav-v {
  @extend %nav;
  
  li {
    border-top: 1px solid lighten($silver, 10%);
    &:first-child {
      border: none;
    }
  }
  
}


%menubar {
  border: 1px solid lighten($silver, 10%);
  border-bottom-color: $silver;
  background: lighten($silver, 18%);
  @include border-radius(5px); 
  @include box-shadow("0px 1px 3px rgba(0,0,0,0.05), 0px 1px 1px rgba(0,0,0,0.1)");
}

.nav-bar {
  @extend .nav-h;
  @extend %menubar;
  
  padding: 5px; 
  
  li {
    border:none;
  }
  
  a {
    &:hover, &:active, &:focus {
      @include box-shadow(inset 0px 0px 3px rgba(0,0,0,0.25));
      @include border-radius(4px);
    }
    &:active, &:focus {
      background: lighten($silver, 10%);
    }
  }
  
}

.nav-menu {
  @extend .nav-v;
  @extend %menubar;
  
  a {
    &:hover {
      background: lighten($silver, 19%);
    }
  
    &:active, &:focus {
      background: lighten($silver, 15%);
    }
    
  }
  
  li:first-child a {
    @include border-radius-utility(5px, false, false, 5px);
  }
  
  li:last-child a {
    @include border-radius-utility(false, 5px, 5px, false);
  }
  
}